@import '../node_modules/@db-ui/core/sources/css/rollup.assets-paths';
@import '../node_modules/@db-ui/core/sources/css/enterprise/db-ui-core';

html,
body {
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin: 0 2rem 0 0.5rem;
  display: inline-block;
}

main, aside {
  padding-top: 1rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
